<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.v5188.NewsFlash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.v5188.NewsFlash.volley.VolleyApp"
        android:allowBackup="true"
        android:icon="@drawable/news_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.v5188.NewsFlash.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.v5188.NewsFlash.MainActivity" />
        <activity android:name="com.example.v5188.NewsFlash.slidingmenu_picture.MainActivity" />
        <activity android:name="com.example.v5188.NewsFlash.slidingmenu_picture.PictureDetailsActivity" />
        <activity android:name="com.example.v5188.NewsFlash.ContentDetailsActivity" />
        <activity android:name="com.example.v5188.NewsFlash.PictureDetailsActivity" />
    </application>

</manifest>